.project-teaser {
  width: 300px;
  margin: 0 10px;
  padding: 20px;
  border: 1px solid #4c605c;
  border-radius: 15px;
  background-color: #81908d0e;
}
.project-teaser:hover {
  background-color: #81908d5d;
}
.project-teaser a {
  color: inherit;
}
